<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.program.kill.model.mapper.ItemKillMapper">
    <resultMap id="BaseResultMap" type="com.program.kill.model.entity.ItemKill">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="item_id" property="itemId" jdbcType="INTEGER"/>
        <result column="total" property="total" jdbcType="INTEGER"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="is_active" property="isActive" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, item_id, total, start_time, end_time, is_active, create_time,
  </sql>

    <!--查看商品详情-->
    <select id="selectByPrimaryKey" resultType="com.program.kill.model.entity.ItemKill">
      select
	    a.*,
	    b.name as itemName,
	    (
		    CASE WHEN(NOW() BETWEEN a.start_time AND a.end_time AND a.total>0)
			    THEN 1
		        ELSE 0
		        END
	    )as canKill
      from item_kill as a left join item as b on b.id =a.item_id
      where a.is_active = 1 AND a.id = #{id}
    </select>

    <!--查询待秒杀商品列表-->
    <select id="selectAllItemKill" resultMap="BaseResultMap">
      select
        a.*,
        b.name as itemName,
        (
            CASE WHEN(NOW() BETWEEN a.start_time AND a.end_time AND a.total>0)
                THEN 1
            ELSE 0
            END
        )as canKill
      from item_kill as a left join item as b on b.id = a.item_id
      WHERE a.is_active = 1
  </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from item_kill
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.program.kill.model.entity.ItemKill">
    insert into item_kill (id, item_id, total, 
      start_time, end_time, is_active, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{itemId,jdbcType=INTEGER}, #{total,jdbcType=INTEGER}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{isActive,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.program.kill.model.entity.ItemKill">
        insert into item_kill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="itemId != null">
                item_id,
            </if>
            <if test="total != null">
                total,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="isActive != null">
                is_active,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="itemId != null">
                #{itemId,jdbcType=INTEGER},
            </if>
            <if test="total != null">
                #{total,jdbcType=INTEGER},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isActive != null">
                #{isActive,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.program.kill.model.entity.ItemKill">
        update item_kill
        <set>
            <if test="itemId != null">
                item_id = #{itemId,jdbcType=INTEGER},
            </if>
            <if test="total != null">
                total = #{total,jdbcType=INTEGER},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isActive != null">
                is_active = #{isActive,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.program.kill.model.entity.ItemKill">
    update item_kill
    set item_id = #{itemId,jdbcType=INTEGER},
      total = #{total,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      is_active = #{isActive,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <!--抢购商品，扣减库存-->
    <update id="updateKillItem">
      update item_kill
      set total = total -1
      where
        id = #{killId}
    </update>
</mapper>